*.pyc
.vscode
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
*egg-info
submodules/adain/models
submodules/adain/input
images
*.zip
WikiArt.csv
output
datasets
SegAnyGAussians/data
SegAnyGAussians/pretrained_models
SegAnyGAussians/third_party/segment-anything/
submodules